.nav-list{
  display: flex;
  flex-wrap: wrap;
}
.triangle{
  padding-right: 2rem;
  position: relative;
  &::after{
    position: absolute;
    right: 8px;
    top:40%;
    content: "";
    height: 5px;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #8a9aa9;
  }
}

.category-popover{
  position: fixed;
  top: 3.75rem;
  left: 2rem;
  padding: 1.17rem 1.17rem 0.17rem;
  width: 30rem;
  max-height: 16.67rem;
  font-weight: 400;
  line-height: 1.2;
  background-color: #fff;
  border: 1px solid #ebebeb;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 15%);
  box-sizing: border-box;
  border-radius: 2px;
  cursor: default;
  z-index: 250;
  top: auto;
  left: auto;
}

